*{
    padding: 10px;
    margin: 10px;
    color: #780000;
    text-align: center;
    
}

html, body {
    background-color: #bbb2b2;
}

.main-container {
    border: 14px solid #003049;
    border-radius: 50px;
    margin: 2rem;
    background-color: #C1121F;
    
    
}


nav, section, footer, aside, article {
    border: 4px solid #C1121F;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
    
}

article, aside {
    width: 35%;
    display: inline-block;
    height: 400px;
}

nav, footer, section {
    background-color: #FDF0D5;
    
}
